*{
    padding: 0px;
    margin: 0px;
}
.container div{
    background-color: rgb(6, 81, 110);
    border: 2px double black;
    width: 200px;
    height: 200px;
    margin:10px;
}
h1{
    color: white;
    text-align: center; 
}
.container{
    display: flex;
    justify-content:center;
    flex-flow: row wrap;
}