#id1{
    background-color: coral;
    width:200px;
    height:200px;
    float: left;
}
#id2{
    background-color: pink;
    width:200px;
    height:200px;
    float: left;
}
#id3{
    background-color:red;
    width: 200px;
    height: 200px;
    float: left;
}
#id4{
    background-color:green;
    width: 200px;
    height: 200px;
    float: left;
}
#id5{
    background-color:yellow;
    width: 200px;
    height: 200px;
    float: right;
}
#id6{
    background-color:rebeccapurple;
    width: 200px;
    height: 200px;
    float: right;
}

