p{
    font-family:'Times New Roman', Times, serif;
    font-size: 2.2em;
    font-weight: bold;
    /* letter-spacing: 10px; */
    /* word-spacing: 50px; */
    /* line-height: 50px; */
    /* text-decoration: underline; */
    /* text-decoration: overline; */
    /* text-decoration: line-through; */
    /* text-transform: capitalize; */
    /* text-transform:lowercase ; */
    /* text-transform:uppercase ; */
    /* text-align: center; */
    /* text-align: left; */
    /* text-align: justify; */
    /* text-align: right; */
    /* text-indent: 170px; */




}