body{
    background-image: url(images/b2.jpg)
}
#suraj{
    
    padding:15px;
    width:30%;
    border-radius: 25px;
    text-align: center;
    margin: 100px auto;
    color: white;
    /* background-color: rgb(255, 100,100); */
    /* background-color: rgba(255, 100,100,0.8); */
    /* background-color:hsl(120, 90%,40%,0.8); */
    background-color: #ffff00;

}