.nani{
    height: 800px;
    width: 100%;
    background-color:red;
    animation-name: first;
    /* animation: infinite; */
    animation-duration:5s;
}
/* @keyframes first{
    from{
        background-color: red;
    }
    to{
        background-color: darkblue;
    }
} */

@keyframes first{
    0%{
        background-color: red;
    }
    25%{
        background-color: darkblue;
    }
    50%{
        background-color: green;
    }
    75%{
        background-color: pink;
    }
    100%{
        background-color: yellow;
    }
}