*{
    padding: 0px;
    margin: 0px;
}
.flex-container div{
    background-color: teal;
    width: 400px;
    border: 2px solid white;
    padding: 10px;
}
h2{
    color: greenyellow;
}
p{
    color: white;
}
.flex-container{
    display: flex;
    /* flex-direction: column; */
    /* flex-direction:column-reverse; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */

    /* flex-wrap: wrap; */
    flex-wrap: wrap-reverse;

    /* shortcut for flex-direction and wrap */
    /* flex-flow: column,wrap; */

    /* justify-content: center; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
}

/* .flex-itom1{
    order:3;
    flex: 1;
}
.flex-itom2{
    order:2;
    flex: 2;
}
.flex-itom3{
    order:1;
    flex: 1;
} */
